<%- include("partials/header.ejs") %>

<section class="s1">
    <header class="h2">
        <p class="h2A">THE CREATIVITY YOU SHOW</p>
        <p class="h2B">Treat the Creativity with Blogging<p>
        <a href="/blog">
            <button class="getStarted">START NOW</button>
        </a>
    </header>
    <div class="container">
      <img class="curve" src="images/curve.png" alt="curve">
      <img class="discussion" src="images/discussion.png" alt="curve1">
      <img class="medal" src="images/medal.png" alt="medal" >
      <img class="astroid" src="images/astroid.png" alt="medal">
      <img class="sat" src="images/medal (1).png">
      <img class="shirt" src="images/shirt.png">
    </div>
</section>
<section class="s2"> 
    <div class="container2">
        <header class="h3">
            <p class="h3A">Choose how to Write</p>
            <p class="h3B">Your one-stop destination for fresh perspectives, insightful<br> 
                stories, and thought-provoking ideas. Here,we believe in the power<br>
                of words to inspire, inform, and connect people from all walks of life.<br>
                Whether you're seeking expert advice, creative inspiration,<br>
                 or just a moment of reflection, we've got something for you.<br>
                <br>
                From tech trends and personal growth to travel experiences and lifestyle tips,<br>
                our blog is a curated space for the curious mind. Dive into our articles,<br>
                join the conversation, and let your journey begin!
            </p>
        </header>
        
        <div>
            <div class="girlBlogging" >
                <img src="images/girlBlogging.png" height="600px" width="600px">
            </div>
        </div>
    </div>
</section>

<section class="s3">

    <div>
        <header class="h4">
            <p class="h4A">Join with Millions</p>
            <p class="h4B">Our blog is a vibrant space designed to inspire, inform,<br>
                           and connect. With diverse content ranging from tech insights to<br>
                           lifestyle tips,we aim to spark creativity and thoughtful conversations.<br>
                           Join us on this journey of discovery, growth, and shared experiences.<br>
                           Your next great read starts here!</p>

        </header>
        <img class="worldMap" src="images/worldMap.png" alt="worldMap">
    </div>
</section>

</main>
<%- include("partials/footer.ejs") %>

